<h1>Display your Pirate here</h1>
<p><h2><%=@pirate.name%></h2> - <%=@pirate.weight%> lbs, <%=@pirate.height%> in</p>

<h2>Display your first ship here</h2>
<%ship = @ships[0]%>
<h2><%=ship.name%></h2>
<p><%=ship.type%></p>
<p><%=ship.booty%></p>

<h2>Display your second ship here</h2>
<%ship = @ships[1]%>
<h2><%=ship.name%></h2>
<p><%=ship.type%></p>
<p><%=ship.booty%></p>