<h1>Pirate</h1>
<h2><%= @pirate.name%><h2>
<h3><%= @pirate.weight%><h3>
<h3><%= @pirate.height%><h3>

<h2>Ship 1</h2>
<% @ships.each.with_index do |ship, index| %>
      <% if index == 0 %>
      <p>Name: <%= ship.name%></p>
      <p>Type: <%= ship.type %></p>
      <p>Booty: <%= ship.booty %></p>
      <% end %>
    <% end %>

<h2>Ship 2</h2>
<% @ships.each.with_index do |ship, index| %>
    <% if index != 0 %>
    <p>Name: <%= ship.name%></p>
    <p>Type: <%= ship.type %></p>
    <p>Booty: <%= ship.booty %></p>
    <% end %>
  <% end %>

