<h1>Pirate</h1>
<p>Pirate name: <%= @pirate.name %></p>
<p>Pirate weight: <%= @pirate.weight %></p>
<p>Pirate height: <%= @pirate.height %></p>
<h2>Ship 1</h2>
<p>Ship Name: <%= @ship_1.name%></p>  
<p>Ship Type: <%= @ship_1.type%></p>
<p>Ship Booty: <%= @ship_1.booty%></p>
<h2>Ship 2</h2>
<p>Ship Name: <%= @ship_2.name%></p>  
<p>Ship Type: <%= @ship_2.type%></p>
<p>Ship Booty: <%= @ship_2.booty%></p>
